.customWheel{
    background-image: url(/assets/pic1.jpg); 
    border-style: dashed; 
    border-color: orange; 
    border-radius: 50%; 
    width: 440px; 
    height: 440px; 
    margin: auto; 
    overflow: auto; 
    text-align: center; 
}

@media (max-width: 700px) {
    .customWheel{
        width: 220px; 
        height: 220px; 
        margin: auto; 
        overflow: auto; 
        text-align: center; 
    }
    
}

  